body {
  margin: 0px;
  font-family: sans-serif;
  background-image: url('https://flatiron-v3-production.imgix.net/wework-white-house-common.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-color: #b7b7b7;
  background-position: 0% 9%;
}

.hidden {
  visibility: hidden;
}

nav {
  color: white;
  background-color: #314594;
  padding: 1px;
}

ul {
  padding-left: 10px;
  list-style-type: none;
}

li {
  font-weight: bolder;
  padding-left: 20px;
  display: inline;
}

form {
  position: absolute;
  top: 60px;
  left: 10px;
  color: white;
  margin-top: 5px;
  background-color: #1b2646;
  width: 300px;
}

form>h2 {
  padding-top: 20px;
  padding-left: 20px;
  margin: 5px;
  margin-bottom: 15px;
}

.walkthrough-tip {
  border: 2px solid white;
  box-shadow: -3px 3px 5px darkgray;
  background-color: gray;
  opacity: 1;
  display: run-in;
  width: 300px;
  text-align: center;
}

.walkthrough-tip p {
  color: white;
  padding: 0px;
  margin: 2px 2px;
  font-size: 0.9em;
}

#step-1 {
  position: absolute;
  top: 63px;
  left: 295px;
}

#step-2 {
  position: absolute;
  top: 122px;
  left: 290px;
}

#step-3 {
  position: absolute;
  top: 165px;
  left: 290px;
}

#step-4 {
  position: absolute;
  top: 190px;
  left: 290px;
}

h4 {
  margin: 5px 0px;
}

input[type='email'] {
  margin-left: 55px;
  margin-bottom: 4px;
}

input[type='password'] {
  margin-left: 55px;
  margin-bottom: 8px;
}

input[type='checkbox'] {
  margin-left: 50px;
  margin-bottom: 8px;
}

label {
  font-size: 0.8em;
  vertical-align: text-top;
}

input[type='submit'] {
  border: 0px;
  color: #272727;
  background-color: #a8a8e2;
  margin-left: 59px;
  margin-bottom: 15px;
}

#walkthrough {
  border: 0px;
  color: #272727;
  background-color: #a8a8e2;
}
